################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UI/TADHACK/.vs
/API/DocketSystemAPI/DocketSystemUI/Properties
