<div>
    <div class="row">
        <div class="col-sm-8">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Case number: </div>
                <div class="card-body">
                    {{case.body}}
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card mb-3">
                <div class="card-header">Update Case</div>
                <div class="card-body">
                    <button class="btn btn-primary" (click)="onClick('P')">In progress</button>
                    <button class="btn btn-success" (click)="onClick('C')">Complete</button>
                    <hr />
                    <button class="btn-btn-primary" (click)="saveChanges()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
